html, body {
    background-color: white;
    color: #333333;
    font-family: 'Passion One', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

#container {
    margin: 20vh auto 0 auto;
    width: 50vw;
    text-align: center;
}

#chord-name {
    font-size: 8em;
    font-weight: 400;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.1);
    margin-bottom: 0;
}

#scale-degree {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 400;
    margin-top: -20px;
}

#key-input-container {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

#score {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 0.8em;
    color: rgba(0,0,0,0.4);
    margin-bottom: 12vh;
}

#key-input {
    font-weight: lighter;
    font-size: 1.4em;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.05);
    -box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0,0,0,0.03);
}

::-webkit-input-placeholder {
    color: rgba(0,0,0,0.6);
}
:-moz-placeholder {
   color: rgba(0,0,0,0.6);
}
::-moz-placeholder {
   color: rgba(0,0,0,0.6);
}
:-ms-input-placeholder {
   color: rgba(0,0,0,0.6);
}
::-ms-input-placeholder {
   color: rgba(0,0,0,0.6);
}

#scale-degree-select {
    font-family: 'Playfair Display';
    font-weight: 100;
    width: 30vw;
    min-width: 280px;
    text-align: center;
    border: 1px rgba(0,0,0,0.05) solid;
    margin: 0 auto;
}

#scale-degree-select legend {
    font-weight: 700;
}

#scale-degree-select input[type="checkbox"] {
    width: 12px;
    height: 12px;
    background-color: pink;
}

#footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -120px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 240px;
    height: 52px;
    text-align: center;
    color: rgba(0,0,0,0.2);
    font-weight: 200;
    text-decoration: none;
}

#footer:hover {
    text-decoration: underline;
}